article {
  margin: 20px;
  padding: 15px;
  border: 2px solid black;
  background-color: rgba(231, 231, 231, 0.637);
  border-radius: 20px;
  font-size: 25px;
}

a {
  color: black;
}

a:visited {
  color: black;
}