article {
  margin: 10px;
  margin-bottom: 30px;
}

section {
  margin: 10px;
}

p {

  font-size: 15px;
}

.blog-title {
  margin-left: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 5px;
}

.blog-img {
  float: right;
  margin: 10px;
  margin-top: 0px;
  width: 40%;
  max-height: 200px;
}