#background {
  left: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 700px;
}

main {
  margin: 0;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
}

#welkom {
  position: absolute;
  text-align: center;
  top: 375px;
  width: 40%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(30, 30, 30);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 40px;
}

article {
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#github-link, a, a:visited {
  text-align: center;
  list-style-type: none;
  padding: 0;
  color: black;
}