#background {
    left: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 700px;
}

main {
    margin: 0;
    padding: 0;
}

#welkom {
    position: absolute;
    text-align: center;
    top: 400px;
    width: 40%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(128, 128, 128, 0.56);
    border-radius: 20px;
    padding: 20px;
}