* {
    margin: 0;
    border: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: black;
    background-color: rgb(237, 237, 237);
}

/* SIDEMENU START */

#menu-icon {
    margin: auto;
}

aside {
    background-color: rgb(0, 0, 0);
    color: white;
    position: fixed;
    width: 10%;
    border-radius: 0, 0, 10px, 10px;
    padding: 10px;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

aside a:visited {
    color: white;
}

aside a {
    text-decoration: none;
}

aside li {
    list-style-type: none;
    padding: 10px;
}

input:checked ~ aside {
    left: -250px;
}

#toggle-side {
    display: none;
}

/* END SIDEMENU */

main {
    background-color: green;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: Left;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(75, 75, 75);
    color: rgb(187, 186, 186);
    border-color: black;
    border-style: solid;
    border-top-width: 3px; 
    padding: 20px;
}