* {
    margin: 0;
    border: 0;
}

header {
    background-color: blueviolet;
    text-align: center;
}

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(191, 191, 191);
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(161, 161, 161);
}

main {
    background-color: burlywood;
    margin-bottom: 5%;
}
footer {
    background-color: rgb(75, 75, 75);
    color: rgb(187, 186, 186);
    border-color: black;
    border-style: solid;
    border-top-width: 3px; 
    padding: 20px;
}